$bg: #F7F8F2;
$red: #FC635B;
$blue-dark: #2c5999;
$blue-light: #477dca;
$dark: #333;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $bg;
}

a {
  text-decoration: none;
  color: $blue-dark;
  &:hover {
    text-decoration: underline;
    color: $blue-light;
  }
}

main {
  max-width: 900px;
  min-width: 350px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

section {
  max-width: 700px;
  width: 100%;
}

h1 {
  font-size: 3em;
  /* 2x body copy size = 32px */
  line-height: 1;
  /* 45px / 36px */
  padding-bottom: 1rem;
  font-weight: 200;
  color: $red;
}

aside {
  width: 100%;
  max-width: 250px;
  margin: 1em auto;
  display: block;

  .portrait {
    width: 100%;
    border-radius: 50%;
    margin: 1em auto;
    display: block;
  }
}

.channels {
  margin-top: 1em;
  a {
    display: inline-block;
    padding: 0.5em 0.75em;
    background-color: $blue-light;
    text-decoration: none;
    color: #fff;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

    &:hover {
      background-color: $blue-dark;
    }

    i {
      margin-right: 0.5em;
    }
  }
}

@media (min-width: 700px) {
  main {
    padding-top: 3rem;
  }
  aside {
    float: left;
    width: 25%;
    max-width: 200px;
  }
  section {
    float: left;
    padding-left: 2rem;
    width: 75%;
  }
}
